table.symbols {
  position: absolute;
  z-index: 10000;
  display: none;
}
table.symbols,
table.symbols td {
  border: 1px solid gray !important;
  border-collapse: collapse !important;
  color: #555;
  background-color: white;
  font-size: 14pt;
}
table.symbols td {
  padding: 1px !important;
  width: 20px;
  text-align: center;
}
table.symbols td.facemark {
  font-size: 13px;
  overflow: hidden;
}
table.symbols td.description {
  font-size: 9px;
  cursor: default;
}
table.symbols td:hover.description {
  color: #555;
  background-color: white;
  cursor: default;
}
table.symbols td:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}
a.smily-button {
  font-size: 28px;
  vertical-align: bottom;
/*   font-size: 18px; */
/*  height: 11px;*/
/*  width: 18px;*/
/*   text-align: center; */
  margin-right: 2px;
}
a.tweet-button {
  margin-left: 3px;
}
a#tweeting_button {
  margin-left: 3px;
}
span.geo-status {
  width: 200px !important;
}
/* vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: */
