table.symbols {
  position: absolute;
  z-index: 100;
  display: none;
}
table.symbols,
table.symbols td {
  margin: 1px !important;
  padding: 1px !important;
  border-collapse: collapse !important;
  border: 1px solid gray !important;
  color: #333;
  background-color: white;
  font-size: 14pt;
}
table.symbols td {
  width: 20px;
  text-align: center;
}
table.symbols td.facemark {
  font-size: 14px;
}
table.symbols td.description {
  font-size: 9px;
  cursor: default;
}
table.symbols td:hover.description {
  color: #333;
  background-color: white;
  cursor: default;
}
table.symbols td:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}
a.twipple-smile-link {
  color: gray;
  background-color: #eee;
  -webkit-border-radius: 1px;
  text-decoration: none;
}
a.twipple-smile-link span {
  color: gray;
}
a.twipple-smile-link:hover {
  text-decoration: none;
}
a.hootsuite-smile-link {
}
a.hootsuite-smile-link span {
  color: #333;
  font-size: 25px !important;
}
a.hootsuite-smile-link:hover {
  text-decoration: none;
}
a.smily-button {
  font-size: 18px;
/*  height: 11px;*/
/*  width: 18px;*/
  text-align: center;
}
a.tweet-button {
  margin-left: 3px;
}
a#tweeting_button {
  margin-left: 3px;
}
/* vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: */
